{
    auto_https off
    admin off
}

:9000 {
    root * public
    
    # FrankenPHP has built-in PHP support, no need for php_fastcgi
    
    # Try files in order
    try_files {path} {path}/ /index.html
    
    # Static file server
    file_server
    
    # Log errors
    log {
        output stderr
        format console
        level ERROR
    }
}
