{
    auto_https off
    admin off
}

:9000 {
    root * public
    
    # Enable PHP processing
    php_fastcgi localhost:9000
    
    # Handle all requests
    try_files {path} {path}/ /index.html
    file_server
}
