<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        
        <!-- Chatbot Integration -->
        <link rel="stylesheet" href="{{ asset('assets/css/chatbot.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <!-- Chatbot Script -->
        <script src="{{ asset('assets/js/chatbot.js') }}"></script>
    </body>
</html>
